{% extends 'labsite/base.html' %}


{% block content %}

<head>
    <style>
        body, html {
          height: 100%;
        }
        .bg {
          /* The image used */
          background-image: url('/static/labsite/img/img2.png');

          /* Full height */
          height: 100%;

          /* Center and scale the image nicely */
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }

    </style>
</head>
<body class="justify-content-center">

    <div class="bg text-center">
        <main class="mt-5">
        <div class="view full-page-intro text-center ">

            <div class="pt-5 col-md-4 col-lg-3 col-sm-6 justify-content-center" style="margin: 0 auto;">
            <!-- Default form subscription -->
            <form class="text-center p-5" method="post">
                {% csrf_token %}
                <p class="h4 mb-4">SIGN-IN</p>
                <!-- Name -->
                <input type="text" name="username" id="defaultSubscriptionFormPassword" class="form-control mb-4" placeholder="Username">

                <!-- Password -->
                <input name="password" type="password" id="defaultSubscriptionFormEmail" class="form-control mb-4" placeholder="Password">

                <!-- Sign in button -->
                <button class="btn btn-info btn-block" type="submit">Sign in</button>
            </form>
            </div>
            <!-- Default form subscription -->

        </div>
        </main>

    </div>


</body>



{% endblock %}