{% extends 'labsite/base.html' %}
{% load static %}
{% block content %}
    <!--Main layout-->
    <!--Main layout-->
    <main class="mt-5 pt-5">
        <div class="container">

            <!-- Grid row -->
            <div class="row">

                {% for img in images %}
                      <!-- Grid column -->
                      <div class="col-lg-4 col-md-6 mb-3 view overlay zoom ">
                        <a href="{{ img.image.url }}" target="_blank">
                            <img src="{{ img.image.url }}" class="img-fluid z-depth-1 wow fadeInUp embed-responsive" alt="Responsive image">
                            <div class="mask flex-center">
                                <p class="white-text">{{ img.caption }}</p>
                            </div>
                        </a>

                      </div>
                      <!-- Grid column -->

                {% endfor %}

            </div>
            <!-- Grid row -->

        </div>
    </main>
    <!--Main layout-->
{% endblock %}



