{% extends 'labsite/base.html' %}
{% load static %}
{% block content %}

    <!--Main layout-->
    <main class="mt-5 pt-5">
        <div class="container">

            <div class='row'>

                <!-- News jumbotron -->
                <div class="jumbotron text-center hoverable p-4">

                  <!-- Grid row -->
                  <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-4 offset-md-1 mx-3 my-3">

                      <!-- Featured image -->
                      <div class="view overlay">
                        <img src="{% static 'labsite/img/murala_sir2.jpg' %}" class="img-fluid" alt="Sample image for first version of blog listing">
                        <a>
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-7 text-md-left ml-3 mt-3">

                      <!-- Excerpt -->
                      <a href="#!" class="green-text">
                        <h6 class="h6 pb-1"><i class="fas fa-desktop pr-1"></i>Lab Incharge</h6>
                      </a>

                      <h4 class="h4 mb-4">Dr. Subrahmanyam Murala</h4>

                      <p class="font-weight-normal">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque, totam
                        rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.
                      </p>
                      <p class="font-weight-normal"><a><strong>Assistant Professor,</strong></a> Department of Electrical Engineering,  IIT Ropar</p>

                      <a class="btn btn-success" href="http://www.iitrpr.ac.in/subbumurala/">Read more</a>

                    </div>
                    <!-- Grid column -->

                  </div>
                  <!-- Grid row -->
                </div>
                <!-- News jumbotron --> 

            </div>
            <!--row-->

            <hr class="my-4">

            <h4 class="h3 mb-4">Research Scholers</h4>

            <!--------- PHD Student Section start here ------------->

            <div class='row'>

                <div class='col'>
                    <!-- Card Regular -->
                    <div class="card card-cascade">

                      <!-- Card image -->
                      <div class="view view-cascade overlay">
                        <img class="card-img-top" src="{% static 'labsite/img/sachin_sir2.jpg' %}" alt="Card image cap">
                        <a>
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>

                      <!-- Card content -->
                      <div class="card-body card-body-cascade text-center">

                        <!-- Title -->
                        <h4 class="card-title"><strong>Sachin Chaudhary</strong></h4>
                        <!-- Subtitle -->
                        <h6 class="font-weight-bold indigo-text py-2">Human Action Recognition</h6>
                        <!-- Text -->
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod quibusdam.
                        </p>

                        <!-- LinkedIn -->
                        <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
                        <!-- Twitter -->
                        <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
                        <!-- Dribbble -->
                        <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>

                      </div>

                      <!-- Card footer -->
                      <div class="card-footer text-muted text-center">
                        <strong class="green-text">PhD Completed!</strong>
                      </div>

                    </div>
                    <!-- Card Regular -->

                </div>

                <div class='col'>
                    <!-- Card Regular -->
                    <div class="card card-cascade">

                      <!-- Card image -->
                      <div class="view view-cascade overlay">
                        <img class="card-img-top" src="{% static 'labsite/img/akshay_sir.jpg' %}" alt="Card image cap">
                        <a>
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>

                      <!-- Card content -->
                      <div class="card-body card-body-cascade text-center">

                        <!-- Title -->
                        <h4 class="card-title"><strong>Akshay Dudhane</strong></h4>
                        <!-- Subtitle -->
                        <h6 class="font-weight-bold indigo-text py-2">Single Image Haze Removal</h6>
                        <!-- Text -->
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod quibusdam.
                        </p>

                        <!-- LinkedIn -->
                        <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
                        <!-- Twitter -->
                        <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
                        <!-- Dribbble -->
                        <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>

                      </div>

                      <!-- Card footer -->
                      <div class="card-footer text-muted text-center">
                        PhD On Going!
                      </div>

                    </div>
                    <!-- Card Regular -->
                </div>

                <div class='col'>
                    <!-- Card Regular -->
                    <div class="card card-cascade">

                      <!-- Card image -->
                      <div class="view view-cascade overlay">
                        <img class="card-img-top" src="{% static 'labsite/img/prashant_sir.jpg' %}" alt="Card image cap">
                        <a>
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>

                      <!-- Card content -->
                      <div class="card-body card-body-cascade text-center">

                        <!-- Title -->
                        <h4 class="card-title"><strong>Prashant Patil</strong></h4>
                        <!-- Subtitle -->
                        <h6 class="font-weight-bold indigo-text py-2">Moving Object Detection</h6>
                        <!-- Text -->
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod quibusdam.
                        </p>

                        <!-- Linkedin -->
                        <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
                        <!-- Twitter -->
                        <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
                        <!-- Dribbble -->
                        <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>

                      </div>

                      <!-- Card footer -->
                      <div class="card-footer text-muted text-center">
                        PhD On Going!
                      </div>

                    </div>
                    <!-- Card Regular -->
                </div>

            </div>
            <!--row-->

            </br>

            <div class='row'>

                <div class='col'>
                    <!-- Card Regular -->
                    <div class="card card-cascade">

                      <!-- Card image -->
                      <div class="view view-cascade overlay">
                        <img class="card-img-top" src="{% static 'labsite/img/praful_sir.jpg' %}" alt="Card image cap">
                        <a>
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>

                      <!-- Card content -->
                      <div class="card-body card-body-cascade text-center">

                        <!-- Title -->
                        <h4 class="card-title"><strong>Praful Hambarde</strong></h4>
                        <!-- Subtitle -->
                        <h6 class="font-weight-bold indigo-text py-2">Depth Estimation</h6>
                        <!-- Text -->
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod quibusdam.
                        </p>

                        <!-- LinkedIn -->
                        <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
                        <!-- Twitter -->
                        <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
                        <!-- Dribbble -->
                        <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>

                      </div>

                      <!-- Card footer -->
                      <div class="card-footer text-muted text-center">
                        PhD On Going!
                      </div>

                    </div>
                    <!-- Card Regular -->

                </div>

                <div class='col'>
                    <!-- Card Regular -->
                    <div class="card card-cascade">

                      <!-- Card image -->
                      <div class="view view-cascade overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
                        <a>
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>

                      <!-- Card content -->
                      <div class="card-body card-body-cascade text-center">

                        <!-- Title -->
                        <h4 class="card-title"><strong>Shruti Phutke</strong></h4>
                        <!-- Subtitle -->
                        <h6 class="font-weight-bold indigo-text py-2">Fake Colorization Detection</h6>
                        <!-- Text -->
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod quibusdam.
                        </p>

                        <!-- LinkedIn -->
                        <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
                        <!-- Twitter -->
                        <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
                        <!-- Dribbble -->
                        <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>

                      </div>

                      <!-- Card footer -->
                      <div class="card-footer text-muted text-center">
                        PhD On Going!
                      </div>

                    </div>
                    <!-- Card Regular -->
                </div>

                <div class='col'>
                    <!-- Card Regular -->
                    <div class="card card-cascade">

                      <!-- Card image -->
                      <div class="view view-cascade overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
                        <a>
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>

                      <!-- Card content -->
                      <div class="card-body card-body-cascade text-center">

                        <!-- Title -->
                        <h4 class="card-title"><strong>New Scholer</strong></h4>
                        <!-- Subtitle -->
                        <h6 class="font-weight-bold indigo-text py-2">Research Topic</h6>
                        <!-- Text -->
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod quibusdam.
                        </p>

                        <!-- Linkedin -->
                        <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
                        <!-- Twitter -->
                        <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
                        <!-- Dribbble -->
                        <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>

                      </div>

                      <!-- Card footer -->
                      <div class="card-footer text-muted text-center">
                        PhD On Going!
                      </div>

                    </div>
                    <!-- Card Regular -->
                </div>

            </div>
            <!--row-->

            <!--------- PHD Student Section end here ------------->

            <hr class="my-4">


            <!--------- M. Tech Students section start here --------->

            <h4 class="h3 mb-4">M.Tech Students</h4>

            <div class='row'>

                <!-- Card deck -->
                <div class="card-deck">

                  <!-- Card -->
                  <div class="card mb-4">

                    <!--Card image-->
                    <div class="view overlay">
                      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg" alt="Card image cap">
                      <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                      </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                      <!--Title-->
                      <h4 class="card-title">Shubhangi Nema</h4>
                      <!--Text-->
                      <p class="card-text">Work on Biomedical Image Processing with Image to Image Translation using Generative Adversarial Network. </p>
                      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                      <button type="button" class="btn btn-light-blue btn-md">Read more</button>

                    </div>

                  </div>
                  <!-- Card -->

                  <!-- Card -->
                  <div class="card mb-4">

                    <!--Card image-->
                    <div class="view overlay">
                      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg" alt="Card image cap">
                      <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                      </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                      <!--Title-->
                      <h4 class="card-title">Student Name</h4>
                      <!--Text-->
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                      <button type="button" class="btn btn-light-blue btn-md">Read more</button>

                    </div>

                  </div>
                  <!-- Card -->

                  <!-- Card -->
                  <div class="card mb-4">

                    <!--Card image-->
                    <div class="view overlay">
                      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg" alt="Card image cap">
                      <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                      </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                      <!--Title-->
                      <h4 class="card-title">Student Name</h4>
                      <!--Text-->
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                      <button type="button" class="btn btn-light-blue btn-md">Read more</button>

                    </div>

                  </div>
                  <!-- Card -->

                </div>
                <!-- Card deck -->
 
            </div>

            <!--row-->
            <!--------- M. Tech Students section start here --------->

            <hr class="my-4">


            <!--------- B. Tech Students section start here --------->

            <h4 class="h3 mb-4">B. Tech Students</h4>

            <div class='row'>

                <div class='col'>
                    <!-- Card Regular -->
                    <div class="card card-cascade">

                      <!-- Card image -->
                      <div class="view view-cascade overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
                        <a>
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>

                      <!-- Card content -->
                      <div class="card-body card-body-cascade text-center">

                        <!-- Title -->
                        <h4 class="card-title"><strong>Student Name</strong></h4>
                        <!-- Text -->
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod quibusdam.
                        </p>

                      </div>

                    </div>
                    <!-- Card Regular -->

                </div>

                <div class='col'>
                    <!-- Card Regular -->
                    <div class="card card-cascade">

                      <!-- Card image -->
                      <div class="view view-cascade overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
                        <a>
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>

                      <!-- Card content -->
                      <div class="card-body card-body-cascade text-center">

                        <!-- Title -->
                        <h4 class="card-title"><strong>Student Name</strong></h4>
                        
                        <!-- Text -->
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod quibusdam.
                        </p>

                      </div>

                    </div>
                    <!-- Card Regular -->
                </div>

                <div class='col'>
                    <!-- Card Regular -->
                    <div class="card card-cascade">

                      <!-- Card image -->
                      <div class="view view-cascade overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
                        <a>
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>

                      <!-- Card content -->
                      <div class="card-body card-body-cascade text-center">

                        <!-- Title -->
                        <h4 class="card-title"><strong>Student Name</strong></h4>
                        
                        <!-- Text -->
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod quibusdam.
                        </p>

                      </div>

                    </div>
                    <!-- Card Regular -->
                </div>

            </div>
            <!--row-->

            <!--------- B. Tech Students section end here --------->

            <hr class="my-4">

            <!--------- Interns section start here --------->

            <h4 class="h3 mb-4">Interns</h4>

            <div class='row'>

                <div class='col'>
                    <!-- Card -->
                    <div class="card">

                      <!-- Card image -->
                      <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                        <a href="#!">
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>

                      <!-- Card content -->
                      <div class="card-body">

                        <!-- Title -->
                        <h4 class="card-title">Omkar Thawakar</h4>
                        <!-- Text -->
                        <p class="card-text">Worked on Image and Video Super-Resolution with Recurrent Generative Adversarial Network.</p>
                        <!-- Button -->
                        <a href="https://omkarthawakar.github.io" class="btn btn-primary">See More</a>

                      </div>

                    </div>
                    <!-- Card -->

                </div>

                <div class='col'>
                    <div class="card">

                      <!-- Card image -->
                      <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                        <a href="#!">
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>

                      <!-- Card content -->
                      <div class="card-body">

                        <!-- Title -->
                        <h4 class="card-title">Pranav Gajjewar</h4>
                        <!-- Text -->
                        <p class="card-text">Worked on Real Time Piston Ring Segmentation with Image to Image Traslation.</p>
                        <!-- Button -->
                        <a href="#" class="btn btn-primary">See More</a>

                      </div>

                    </div>
                    <!-- Card -->
                </div>

                <div class='col'>
                    
                    <div class="card">
                      <!-- Card image -->
                      <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                        <a href="#!">
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>

                      <!-- Card content -->
                      <div class="card-body">

                        <!-- Title -->
                        <h4 class="card-title">Student Name</h4>
                        <!-- Text -->
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <!-- Button -->
                        <a href="#" class="btn btn-primary">See More</a>

                      </div>

                    </div>
                    <!-- Card -->
                </div>

            </div>
            <!--row-->

            <!--------- Interns section ends here --------->

            <hr class="my-4">



        </div>
    </main>
    <!--Main layout-->

    {% endblock %}