{% extends 'labsite/base.html' %}
{% load static %}
{% block content %}

    <!--Main layout-->
    <main class="mt-5 pt-5">
        <div class="container">

            <div class='row'>

                <!-- News jumbotron -->
                <div class="jumbotron text-center hoverable p-4">

                  <!-- Grid row -->
                  <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-4 offset-md-1 mx-3 my-3">

                      <!-- Card Wider -->
                        <div class="card-cascade wider">

                          <!-- Card image -->
                          <div class="view view-cascade overlay">
                            <img  class="card-img-top" src="{% static 'labsite/img/murala_sir2.jpg' %}" alt="Card image cap">
                            <a href="#!">
                              <div class="mask rgba-white-slight"></div>
                            </a>
                          </div>

                          <!-- Card content -->
                          <div class="card-body card-body-cascade text-center pb-0">


                            <!-- Text -->
                            <p class="card-text">Email : subbumurala@iitrpr.ac.in </p
                            <p class="card-text">Phone No :  +91 1881 230074 </p
                            <p class="card-text">Room No : #313 </p
                            <p class="card-text">CVPR Lab : #404 </p>


                            <!-- Linkedin -->
                            <a class="px-2 fa-lg li-ic" href="https://in.linkedin.com/in/subrahmanyam-murala-b5114716"><i class="fab black-text fa-linkedin-in"></i></a>
                            <!-- Twitter -->
                            <a class="px-2 fa-lg tw-ic" href="https://scholar.google.co.in/citations?user=5lGnNQoAAAAJ&hl=en"><i class="fab black-text fa-google"></i></a>
                            <!-- Dribbble -->
                            <a class="px-2 fa-lg fb-ic" href="https://dblp.uni-trier.de/search?q=subrahmanyam%20murala"><i class="fas black-text fa-user-secret"></i></a>

                          </div>

                        </div>
                        <!-- Card Wider -->

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-7 text-md-left ml-3 mt-3">

                      <!-- Excerpt -->
                      <a href="#!" class="green-text">
                        <h6 class="h6 pb-1"><i class="fas fa-desktop pr-1"></i>Head of Lab</h6>
                      </a>

                      <h4 class="h4 mb-4">Dr. Subrahmanyam Murala</h4>

                      <p class="font-weight-normal text-justify">
                          Dr. Subrahmanyam Murala received his B.E. degree in Electrical and Electronics Engineering from Andhra University, Andhra Pradesh, India, in 2007.
                          Afterwards, he received his M.Tech. and Ph.D. degrees from the Department of Electrical Engineering,
                          Indian Institute of Technology Roorkee, Roorkee, India, in 2009 and 2012 respectively.
                          He was a Post-Doctoral Researcher in the Department of Electrical and Computer Engineering at University of Windsor,
                          Windsor, ON, Canada from July 01, 2012 to June 30, 2014. Currently, He is working as an Assistant Professor in the
                          Department of Electrical Engineering, IIT Ropar, Rupnagar, Punjab, India. His major ﬁelds of interests are Image Retrieval,
                          Computer Vision, Medical Image Processing and Object Tracking.
                      </p>
                      <p class="font-weight-normal"><a><strong>Associate Professor,</strong></a> Department of Electrical Engineering,  IIT Ropar-140001, India.</p>

                      <a class="btn btn-success text-center" href="http://www.iitrpr.ac.in/subbumurala/">Read more</a>

                    </div>
                    <!-- Grid column -->

                  </div>
                  <!-- Grid row -->
                </div>
                <!-- News jumbotron --> 

            </div>
            <!--row-->

            <hr class="my-4">

            <h4 class="h3 mb-4">Research Scholars</h4>

            <!--------- PHD Student Section start here ------------->

            <div class='row'>

                {% for scholar in peoples.scholars %}

                <div class='col-md-4 p-3'>
                    <!-- Card Regular -->
                    <div class="card card-cascade">

                      <!-- Card image -->
                      <div class="view view-cascade overlay">
                        <img class="card-img-top" src="{{ scholar.profile_pic.url }}" alt="Card image cap">
                        <a>
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>

                      <!-- Card content -->
                      <div class="card-body card-body-cascade text-center">

                        <!-- Title -->
                        <h4 class="card-title"><strong><a href="{% url 'my_blog' user_id=scholar.user.id %}">{{ scholar.user.first_name }} {{ scholar.user.last_name }}</a></strong></h4>

                        <!-- Subtitle -->
                        <h6 class="font-weight-bold indigo-text py-2">Research Topic</h6>
                        <!-- Text -->
                        <p class="card-text">{{ scholar.info }}
                        </p>

                        <!-- LinkedIn -->
                        <a class="px-2 fa-lg li-ic" href="{{ scholar.linkedin }}"><i class="fab black-text fa-linkedin-in"></i></a>
                        <!-- Twitter -->
                        <a class="px-2 fa-lg tw-ic" href="{{ scholar.google_scholar }}"><i class="fab black-text fa-google"></i></a>
                        <!-- Dribbble -->
                        <a class="px-2 fa-lg fb-ic" href="{{ scholar.dblp }}"><i class="fas black-text fa-user-secret"></i></a>

                      </div>

                      <!-- Card footer -->
                      <div class="card-footer text-muted text-center">
                        <strong class="green-text">PhD {{ scholar.researchscholar.phd}}</strong>
                      </div>

                    </div>
                    <!-- Card Regular -->

                </div>

                {% endfor %}



            </div>
            <!--row-->

            <!--------- PHD Student Section end here ------------->

            <hr class="my-4">


            <!--------- M. Tech Students section start here --------->

            <h4 class="h3 mb-4">M.Tech Students</h4>

            <div class='row'>
                  {% for student in peoples.mtech %}

                <div class='col-md-4 p-3'>
                    <!-- Card Regular -->
                    <div class="card card-cascade">

                      <!-- Card image -->
                      <div class="view view-cascade overlay">
                        <img class="card-img-top" src="{{ student.profile_pic.url }}" alt="Card image cap">
                        <a href="{{ student.personal_link }}">
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>

                      <!-- Card content -->
                      <div class="card-body card-body-cascade text-center">

                        <!-- Title -->
                        <h4 class="card-title"><strong><a href="{{ student.personal_link }}"></a>{{ student.user.first_name }} {{ student.user.last_name }}</strong></h4>
                        <!-- Text -->
                        <p class="card-text">{{ student.info }}
                        </p>

                      </div>

                    </div>
                    <!-- Card Regular -->

                </div>

                {% endfor %}
 
            </div>

            <!--row-->
            <!--------- M. Tech Students section start here --------->

            <hr class="my-4">


            <!--------- B. Tech Students section start here --------->

            <h4 class="h3 mb-4">B. Tech Students</h4>

            <div class='row'>

                {% for student in peoples.btech %}

                <div class='col-md-4 p-3'>
                    <!-- Card Regular -->
                    <div class="card card-cascade">

                      <!-- Card image -->
                      <div class="view view-cascade overlay">
                        <img class="card-img-top" src="{{ student.profile_pic.url }}" alt="Card image cap">
                        <a href="{{ student.personal_link }}">
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>

                      <!-- Card content -->
                      <div class="card-body card-body-cascade text-center">

                        <!-- Title -->
                        <h4 class="card-title"><strong>{{ student.user.first_name }} {{ student.user.last_name }}</strong></h4>
                        <!-- Text -->
                        <p class="card-text">{{ student.info }}
                        </p>

                      </div>

                    </div>
                    <!-- Card Regular -->

                </div>

                {% endfor %}

            </div>
            <!--row-->

            <!--------- B. Tech Students section end here --------->

            <hr class="my-4">

            <!--------- Interns section start here --------->

            <h4 class="h3 mb-4">Interns</h4>

            <div class='row'>

                {% for intern in peoples.interns %}

                <div class='col-md-4 p-3'>
                    <!-- Card -->
                    <div class="card">

                      <!-- Card image -->
                      <div class="view overlay">
                        <img class="card-img-top" src="{{ intern.profile_pic.url }}" alt="Card image cap">
                        <a href="{{ intern.personal_link }}">
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>

                      <!-- Card content -->
                      <div class="card-body">

                        <!-- Title -->
                        <h4 class="card-title">{{ intern.user.first_name }} {{ intern.user.last_name }}</h4>
                        <!-- Text -->
                        <p class="card-text">{{ intern.info }}</p>
                        <!-- Button -->
                        <a href="{{ intern.personal_link }}" class="btn btn-primary">See More</a>

                      </div>

                    </div>
                    <!-- Card -->

                </div>

                {% endfor %}


            </div>
            <!--row-->

            <!--------- Interns section ends here --------->

            <hr class="my-4">



        </div>
    </main>
    <!--Main layout-->

    {% endblock %}
